<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="listeners" type="Harvester.Core.Configuration.ListenersSection, Harvester.Core"/>
    </configSections>

    <listeners>
        <listener binding="Local\DBWIN" mutex="DBWinMutex" type="Harvester.Core.Messaging.Sources.DbWin.OutputDebugStringListener, Harvester.Core" />
        <listener binding="Local\HRVSTR" mutex="HrvstrMutex" type="Harvester.Core.Messaging.Sources.DbWin.OutputDebugStringListener, Harvester.Core" />
        <listener binding="Global\DBWIN" mutex="DBWinMutex" elevatedOnly="true" type="Harvester.Core.Messaging.Sources.DbWin.OutputDebugStringListener, Harvester.Core" />
        <listener binding="\\.\pipe\Harvester" mutex="Global\HarvesterMutex" type="Harvester.Core.Messaging.Sources.NamedPipe.PipeMessageListener, Harvester.Core"/>
    </listeners>

</configuration>