<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="parsers" type="Harvester.Core.Configuration.ParsersSection, Harvester.Core"/>
    </configSections>

    <parsers>
        <parser type="Harvester.Core.Messaging.Parsers.Log4JParser, Harvester.Core" />
        <parser type="Harvester.Core.Messaging.Parsers.Log4NetParser, Harvester.Core" />
        <parser type="Harvester.Core.Messaging.Parsers.RegexParser, Harvester.Core" 
                options="Compiled,ExplicitCapture,IgnoreCase,Multiline"
                pattern=".*" />
        <parser type="Harvester.Core.Messaging.Parsers.DefaultParser, Harvester.Core" />
    </parsers>

</configuration>