<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="levels" type="Harvester.Core.Configuration.LevelsSection, Harvester.Core"/>
    </configSections>

    <levels>
        <fatal backColor="Red"   foreColor="White"    aliases="fatal" />
        <error backColor="Black" foreColor="Red"      aliases="error" />
        <warn  backColor="Black" foreColor="Yellow"   aliases="warn,warning" />
        <info  backColor="Black" foreColor="White"    aliases="info,information" />
        <debug backColor="Black" foreColor="DarkGray" aliases="debug" />
        <trace backColor="Black" foreColor="DarkCyan" aliases="trace" />
    </levels>

</configuration>