<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
        <section name="levels" type="Harvester.Core.Configuration.LevelsSection, Harvester.Core"/>
        <section name="filters" type="Harvester.Core.Configuration.FiltersSection, Harvester.Core"/>
        <section name="parsers" type="Harvester.Core.Configuration.ParsersSection, Harvester.Core"/>
        <section name="listeners" type="Harvester.Core.Configuration.ListenersSection, Harvester.Core"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Harvester.Properties.SystemEventProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Harvester.Properties.ShellProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <levels>
        <fatal aliases="fatal" />
        <error aliases="error" />
        <warn  aliases="warn,warning" />
        <info  aliases="info,information" />
        <debug aliases="debug" />
        <trace aliases="trace" />
    </levels>

    <filters />

    <parsers>
        <parser type="Harvester.Core.Messaging.Parsers.Log4NetParser, Harvester.Core" />
        <parser type="Harvester.Core.Messaging.Parsers.Log4JParser, Harvester.Core" />
        <parser type="Harvester.Core.Messaging.Parsers.DefaultParser, Harvester.Core" />
    </parsers>

    <listeners>
        <listener binding="Local\DBWIN" mutex="DBWinMutex" type="Harvester.Core.Messaging.Sources.DbWin.OutputDebugStringListener, Harvester.Core" />
        <listener binding="Global\DBWIN" mutex="DBWinMutex" elevatedOnly="true" type="Harvester.Core.Messaging.Sources.DbWin.OutputDebugStringListener, Harvester.Core" />
        <listener binding="\\.\pipe\Harvester" mutex="HarvesterMutex" identity="Everyone" type="Harvester.Core.Messaging.Sources.NamedPipe.PipeMessageListener, Harvester.Core"/>
    </listeners>

</configuration>