<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="filters" type="Harvester.Core.Configuration.FiltersSection, Harvester.Core"/>
    </configSections>

    <filters>
        <filter type="OrElse">
            <filter type="AndAlso">
                <filter type="Equal" property="ProcessName" value="Harvester.exe" />
                <filter type="GreaterThanOrEqual" property="Level" value="Information" />
            </filter>
            <filter type="GreaterThanOrEqual" property="Level" value="Warning" />
        </filter>
    </filters>

</configuration>