<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Harvester.Properties.MessageColor" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Harvester.Properties.MessageColor>
            <setting name="DebugBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DebugForeColor" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="ErrorBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ErrorForeColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="FatalBackColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="FatalForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="InformationBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="InformationForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TraceBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TraceForeColor" serializeAs="String">
                <value>DarkCyan</value>
            </setting>
            <setting name="WarningBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="WarningForeColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
        </Harvester.Properties.MessageColor>
    </applicationSettings>
</configuration>