<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
        <section name="levels" type="Harvester.Core.Configuration.LevelsSection, Harvester.Core"/>
        <section name="parsers" type="Harvester.Core.Configuration.ParsersSection, Harvester.Core"/>
        <section name="listeners" type="Harvester.Core.Configuration.ListenersSection, Harvester.Core"/>
    </configSections>

    <levels>
        <fatal backColor="Red"   foreColor="White" />
        <error backColor="Black" foreColor="Red" />
        <warn  backColor="Black" foreColor="Yellow" />
        <info  backColor="Black" foreColor="White" />
        <debug backColor="Black" foreColor="DarkGray" />
        <trace backColor="Black" foreColor="DarkCyan" />
    </levels>

    <parsers>
        <parser type="Harvester.Core.Messaging.Parsers.Log4NetParser, Harvester.Core" />
        <parser type="Harvester.Core.Messaging.Parsers.Log4JParser, Harvester.Core" />
        <parser type="Harvester.Core.Messaging.Parsers.DefaultParser, Harvester.Core" />
    </parsers>

    <listeners>
        <listener name="Local\DBWIN" mutex="DBWinMutex" type="Harvester.Core.Messaging.Sources.DbWin.OutputDebugStringListener, Harvester.Core" />
        <listener name="Global\DBWIN" mutex="DBWinMutex" elevatedOnly="true" type="Harvester.Core.Messaging.Sources.DbWin.OutputDebugStringListener, Harvester.Core" />
        <listener name="\\.\pipe\Harvester" mutex="HarvesterMutex" identity="Everyone" type="Harvester.Core.Messaging.Sources.NamedPipe.PipeMessageListener, Harvester.Core"/>
    </listeners>

</configuration>