<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
        <section name="levels" type="Harvester.Core.Configuration.LevelsSection, Harvester.Core"/>
        <section name="filters" type="Harvester.Core.Configuration.FiltersSection, Harvester.Core"/>
        <section name="parsers" type="Harvester.Core.Configuration.ParsersSection, Harvester.Core"/>
        <section name="listeners" type="Harvester.Core.Configuration.ListenersSection, Harvester.Core"/>
    </configSections>

    <levels timestampColor="Cyan">
        <fatal backColor="Red"   foreColor="White"    aliases="fatal" />
        <error backColor="Black" foreColor="Red"      aliases="error" />
        <warn  backColor="Black" foreColor="Yellow"   aliases="warn,warning" />
        <info  backColor="Black" foreColor="White"    aliases="info,information" />
        <debug backColor="Black" foreColor="DarkGray" aliases="debug" />
        <trace backColor="Black" foreColor="DarkCyan" aliases="trace" />
    </levels>

    <filters />

    <parsers>
        <parser type="Harvester.Core.Messaging.Parsers.Log4NetParser, Harvester.Core" />
        <parser type="Harvester.Core.Messaging.Parsers.Log4JParser, Harvester.Core" />
        <parser type="Harvester.Core.Messaging.Parsers.DefaultParser, Harvester.Core" />
    </parsers>

    <listeners>
        <listener binding="Local\DBWIN" mutex="DBWinMutex" type="Harvester.Core.Messaging.Sources.DbWin.OutputDebugStringListener, Harvester.Core" />
        <listener binding="Local\HRVSTWIN" mutex="HrvstWinMutex" type="Harvester.Core.Messaging.Sources.DbWin.OutputDebugStringListener, Harvester.Core" />
        <listener binding="Global\DBWIN" mutex="DBWinMutex" elevatedOnly="true" type="Harvester.Core.Messaging.Sources.DbWin.OutputDebugStringListener, Harvester.Core" />
        <listener binding="\\.\pipe\Harvester" mutex="HarvesterMutex" identity="Everyone" type="Harvester.Core.Messaging.Sources.NamedPipe.PipeMessageListener, Harvester.Core"/>
    </listeners>

</configuration>